@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin life-text($justify, $align, $degree) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  transform: rotate($degree);
}

@mixin middle-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin gear {
  position: absolute;
  padding: .5rem;
  box-shadow: none;
}

// $dark-red: #85182A;
// $light-red: #B21E35;
// $dark-green: #2D6A4F;
// $light-green: #52B788;
// $dark-blue: #0077B6;
// $light-blue: #00B4D8;
// $dark-black: #343A40;
// $light-black: #6C757D;
// $dark-white: #FFF2B2;
// $light-white: #FFFAE5;

$backround-blue-left: linear-gradient(to left, #0077B6, #00B4D8);
$background-green-left: linear-gradient(to left, #2D6A4F, #52B788);
$background-red-left: linear-gradient(to left, #85182A, #B21E35);
$background-black-left: linear-gradient(to left, #343A40, #6C757D);
$background-white-left: linear-gradient(to left, #FFF2B2, #FFFAE5);

$backround-blue-right: linear-gradient(to right, #0077B6, #00B4D8);
$background-green-right: linear-gradient(to right, #2D6A4F, #52B788);
$background-red-right: linear-gradient(to right, #85182A, #B21E35);
$background-black-right: linear-gradient(to right, #343A40, #6C757D);
$background-white-right: linear-gradient(to right, #FFF2B2, #FFFAE5);

.top-content,
.bottom-content {
  display: flex;
  width: 100%;
  height: 50vh;
}

.top-left-container,
.top-right-container,
.bottom-left-container,
.bottom-right-container {
  width: 100%;
  height: 50vh;
  color: #f8f6e8;
  text-shadow: 3px 3px 3px #00000036;
  border: 1px solid black;
  overflow: hidden;
  i {
    box-shadow: 3px 3px 3px #00000036;
  }
}


.top-left-container {
  position: relative;
  .fa-gear {
    @include gear;
    right: 0;
    top: 0;
  }
}

.top-right-container {
  position: relative;
  .fa-gear {
    @include gear;
    top: 0;
  }
}
.bottom-left-container {
  position: relative;
  .fa-gear {
    @include gear;
    bottom: 0;
    right: 0;
  }
}
.bottom-right-container {
  position: relative;
  .fa-gear {
    @include gear;
    bottom: 0;
  }
}

.middle-button {
  @include flex(center, center);
  @include middle-button();
  background-image: url(/images/mtglogo-colored.png);
  background-size: cover;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 1.3rem;
  z-index: 1;
}

.life {
  font-size: 4rem;
}

.fa-minus, .fa-plus {
  border: 1px solid;
  border-radius: 50%;
  padding: .46895rem .5rem;
}

.controls {
  .plus,
  .minus {
    @include flex(center, center);
    width: 100%;
    height: 16.6vh;
  }

  .middle {
    position: relative;
    @include flex(center, center);
    width: 100%;
    height: 16.6vh;

    p.counter {
      position: absolute;
      opacity: 0;
      transition: opacity ease 0.2s;
    }
  }
}

.top-left-container, .bottom-left-container {
  p.counter {
    left: 2rem;
  }
  img {
    transform: rotate(90deg);
  }
}

.top-right-container, .bottom-right-container {
  p.counter {
    right: 2rem;
  }
  img {
    transform: rotate(-90deg);
  }
}

.top-left-container {
  background: $backround-blue-left;
  p {
    @include life-text(center, center, 90deg)
  }
  i {
    transform: rotate(90deg);
  }
}

.top-right-container {
  background: $background-black-right;
  p {
    @include life-text(center, center, -90deg)
  }
  i {
    transform: rotate(-90deg);
  }
}

.bottom-left-container {
  background: $background-red-left;
  p {
    @include life-text(center, center, 90deg)
  }
  i {
    transform: rotate(90deg);
  }
}

.bottom-right-container {
  background: $background-green-right;
  p {
    @include life-text(center, center, -90deg)
  }
  i {
    transform: rotate(-90deg);
  }
}

.color-picker {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  width: 100%;
  height: 50vh;
  opacity: 80%;
  img {
    width: 2.5em;
  }
}

