@import 'twoplayer';
@import 'fourplayer';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background-color: #aaa;
}

.output {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#span-left {
  position: absolute;
  border: 1px solid;
  width: 50%;
  top: 50%;
  right: 56%;
}

#span-right {
  position: absolute;
  border: 1px solid;
  width: 48%;
  top: 50%;
  left: 52%;
}

#span-top {
  position: absolute;
  border: 1px solid;
  height: 48%;
  top: 0;
  left: 50%;
}

#span-bottom {
  position: absolute;
  border: 1px solid;
  height: 44%;
  bottom: 1.5%;
  left: 50%;
}

.fa-circle-info {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
