.top-content,
.bottom-content {
  display: flex;
  width: 100%;
  height: 50vh;
}

.top-left-container,
.top-right-container,
.bottom-left-container,
.bottom-right-container {
  width: 100%;
  height: 50vh;
  color: #f8f6e8;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2117647059);
  border: 1px solid black;
  overflow: hidden;
}

i {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2117647059);
}

.top-left-container .fa-gear {
  position: absolute;
  padding: 0.5rem;
  box-shadow: none;
}

.top-right-container .fa-gear {
  position: absolute;
  padding: 0.5rem;
  box-shadow: none;
}

.bottom-left-container .fa-gear {
  position: absolute;
  padding: 0.5rem;
  box-shadow: none;
  bottom: 0;
}

.bottom-right-container .fa-gear {
  position: absolute;
  padding: 0.5rem;
  box-shadow: none;
  bottom: 0;
}

.middle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: #fff;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 1.3rem;
  z-index: 1;
}

.life {
  font-size: 4rem;
}

.fa-minus, .fa-plus {
  border: 1px solid;
  border-radius: 50%;
  padding: 0.46895rem 0.5rem;
}

.controls .plus,
.controls .minus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 16.6vh;
}
.controls .middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 16.6vh;
}

.top-left-container {
  background: linear-gradient(-90deg, #0077B6, #00B4D8);
}
.top-left-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}
.top-left-container i {
  transform: rotate(90deg);
}

.top-right-container {
  background: linear-gradient(90deg, #343A40, #6C757D);
}
.top-right-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
}
.top-right-container i {
  transform: rotate(-90deg);
}

.bottom-left-container {
  background: linear-gradient(-90deg, #85182A, #B21E35);
}
.bottom-left-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}
.bottom-left-container i {
  transform: rotate(90deg);
}

.bottom-right-container {
  background: linear-gradient(90deg, #2D6A4F, #52B788);
}
.bottom-right-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
}
.bottom-right-container i {
  transform: rotate(-90deg);
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8%;
  top: 46%;
  padding: 1rem;
  background-color: white;
  border: 1px solid #ddd;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  z-index: 1;
}

.modal {
  z-index: 2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  touch-action: manipulation;
}

body {
  overflow: hidden;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background-color: #aaa;
}

.output {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */