@import 'fourplayer';
@import 'modal';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  touch-action: manipulation;
}

body {
  overflow: hidden;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background-color: #aaa;
}

.output {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.hidden {
  display: none;
}
